.productCard {
    cursor: pointer;
    height: 570px;
    width: 320px;
    background-color: #9a4580;
    border-radius: 20px;

    &-coverImage {
       
        width: 100%;
        max-height: 175px;
        height: auto;
        border-radius: 19px 19px 0 0;

    }

    &-content {
        margin: 0 auto;
        width: 95%;
        padding: 2px 10px;
        color: #fff;

        &-header {
       
            width: 95%;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 600;
            line-height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &-date { 

                font-size: 12px;
                font-weight: 400;
                
            }
            p {
                margin: 0;
            }
        }

        &-point {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 2px auto;
            width: 95%;

            &-circle {
                margin-top: 2.5px;
                border-radius: 6px;
                width: 12px !important;
                height: 12px;
                background-color: #E3746D;
            } 
            p {
                font-size: 14px;
                line-height: 18px;
                width: 90%;
                margin: 7px 0;
                display: -webkit-box !important;
                -webkit-line-clamp: 10;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &-dateSelector {
        width: 90%;
        margin: 0 auto;
        color: #fff;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 16px;
        padding: 5px;
        line-height: 30px;
        position: relative;
        font-weight: 700;

        .Dropdown-menu {
            margin: 0 auto;
            width: 90%;
            z-index: 1000000;
            background-color: #6a6a6a;
            padding: 5px;
            border-radius: 16px;
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        color: #fff; 
        
        p {
             margin: 5px 0;
        }
    }
}