.navbar {
    max-width: 1440px;
    margin: 15px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-left {
        img {
            width: 80px;
        }
    }
    &-right {
        max-width: 300px;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }

    &-item {
        cursor: pointer;
        &-text {
            text-transform: uppercase;
        }
    
    }
}