.cart {
    max-width: 1440px;
    width: 95%;
    margin: 10px auto;
  
    &-header {
        font-size: 40px;
        font-weight: 700;
        color: #6a6a6a;
    }

    &-container {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @media only screen and (max-width: 480px) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-items {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            width: 60vw;

            @media only screen and (max-width: 480px) {
              width: 100%;
            }
        }
    
        &-summary {
            position: relative;
            padding: 20px;
            width: 320px;
            height: 185px;
            background-color: #9a4580;
            border-radius: 20px;

            &-title {
                width: 100%;
                text-align: left;
                margin: 0;
                font-size: 26px;
                font-weight: 700;
                color: #fff;
                text-align: center;
            }

            &-action {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                width: 165px;
                margin: 0 auto;
            }

            &-body {
                width: 100%;
                text-align: center;
                color: #fff;

                p:first-child  {
                    font-weight: 700;
                   font-size: 22px;
                   margin-bottom: 0;
                }
            }


        }
    }

    

 }