.parts {

    margin: 0 auto;
    &-entry {
        display: flex;
        justify-content: space-between;
        border-left:#9a4580 5px solid;
        margin: 20px 0; 

        &-title {
            padding-left: 2vw;
            width: 23vw;
            font-size: 34px;
            margin: 10px;
            font-weight: 700;
            color: #585858;
            display: flex;
            align-items: center;
        }

        &-body {
            font-size: 18px;
            line-height: 26px;
            width: 40vw;
            color: #585858;
            &-wrapper {
                display: flex;
                align-items: center;
                margin: 7px 0;
            }

            &-round {
                width: 60px;
                height: 10px;
                background-color: #E3746D;
                border-radius: 10px;
                margin: 0 10px;
            }

            p {
                margin: 0;
            }
        }
    }
    
}